.archive {
  padding: 40px 0px 155px 0px;
  @include laptop-min {
    padding-bottom: 55px;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__body {
    display: grid;
    gap: 24px;
    row-gap: 48px;
    grid-template-columns: repeat(12, 1fr);
    @include laptop-min {
      row-gap: 40px;
    }
    @include tablet {
      row-gap: 32px;
    }

    .article {
      grid-column: 3 span;
      @include laptop-min {
        grid-column: 4 span !important;
      }
      @include tablet {
        grid-column: 6 span !important;
      }
      @include mobile {
        grid-column: 12 span !important;
      }

      &:first-child {
        display: flex;
        flex-direction: column;
        grid-column: 6 span;
        grid-row: 2 span;
        @include laptop-min {
          display: block;
          grid-row: 1 span;
        }
        .article__img {
          height: auto;
          flex: 1;
        }
      }

      &__img {
        transition: filter .2s ease;
       
        &:hover {
          filter: brightness(70%);
        }
      }
    }
  }
  &__btn {
    width: 100%;
    margin-top: 95px;
    @include laptop-min {
      margin-top: 55px;
    }
  }
}
