.brands {
  padding: 40px 0px 170px 0px;
  &__title {
    text-align: center;
    margin-bottom: 32px;
  }
  &__body {
    display: flex;
    align-items: start;
    justify-content: right;
    padding-right: 130px;
    @include desktop {
      gap: 50px;
      justify-content: space-between;
    }
    @include laptop {
      padding-right: 0;
    }
    @include laptop-middle {
      gap: 100px;
    }
    @include tablet {
      gap: 30px;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(3, 248px);
    justify-content: space-between;
    max-width: 1064px;
    width: 100%;
    margin: 0 auto;
    gap: 30px 15px;
    
    @include laptop-min {
      grid-template-columns: repeat(2, 305px);
    }
    @include tablet {
      grid-template-columns: repeat(2, 255px);
    }
    @include tablet-middle {
      grid-template-columns: 1fr;
    }
  }
  &__item {
  }
  &__item-title {
    margin-bottom: 16px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    a {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      transition: color .2s ease;
      @include hover {
        color: var(--gray);
      }
    }
  }
  &__filters {
    position: sticky;
    top: 110px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__filter-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--gray);
    transition: color 0.2s ease;
    @include hover {
      color: var(--black);
    }
  }
}
