.restore-password {
  padding: 40px 0px 95px 0px;
  @include laptop-min {
    padding-bottom: 120px;
  }
  @include tablet {
    padding: 24px 0px 95px 0px;
  }
  &__container {
    max-width: 1152px;
  }
  &__body {
    max-width: 790px;
    margin: 95px auto 0;
    @include laptop-min {
      margin-top: 32px;
    }
    @include mobile {
      margin-top: 0;
    }

    .prev-btn {
      display: none;
      @include mobile {
        display: flex;
      }
    }
  }
  &__title {
    margin: 0px 0px 32px 0px;
    @include tablet {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
  &__form {
  }
  &__form-item {
    margin-bottom: 8px;
  }
  &__content {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 40px 0px;
  }
  &__form-btn {
    display: block;
    max-width: 385px;
    width: 100%;
    margin-left: auto;
    @include mobile {
      max-width: none;
    }
  }
}
