<section class="about">
  <div class="container">
    <div class="title title-2 about__title">МАГАЗИН КРОССОВОК CAMPIO</div>
    <div class="about__body">
      <img src="@img/about.jpg" alt="image" class="about__img" />
      <div class="about__content">
        <p>
          <strong>«Campio»</strong> — это интернет-магазин брендовых кроссовок в Москве, который
          порадует многообразием ассортимента даже самого взыскательного покупателя. У Вас есть
          возможность не только подобрать отличную модель кроссовок на нашем сайте, но и купить их с
          примеркой в нашем магазине на 1-ой Тверской Ямской, в самом центре города.
        </p>
        <div>Почему вы должны купить кроссовки именно у нас?</div>
        <ul>
          <li>Магазин Campio сотрудничает с ведущими мировыми брендами одежды и обуви.</li>
          <li>Магазин Campio сотрудничает с ведущими мировыми брендами одежды и обуви.</li>
          <li>Магазин Campio сотрудничает с ведущими мировыми брендами одежды и обуви.</li>
          <li>Магазин Campio сотрудничает с ведущими мировыми брендами одежды и обуви.</li>
          <li>Магазин Campio сотрудничает с ведущими мировыми брендами одежды и обуви.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
