<section class="about-main">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/">
          Блог
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>О Нас</li>
    </ul>
    <h1 class="title title-1 about-main__title">О Магазине campio</h1>
    <div class="about-main__head">
      <img src="@img/about-2.jpg" alt="image" class="about-main__head-img" />
      <p class="about-main__head-content">
        Магазин Campio был основан в 2015 году. Это был маленький магазин на Рождественском
        бульваре, в ассортименте, которого был один бренд ASICS.
      </p>
      <img src="@img/about-2.jpg" alt="image" class="about-main__head-img" />
      <img src="@img/about-2.jpg" alt="image" class="about-main__head-img" />
    </div>
    <div class="swiper about-main__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@img/shop.jpg" alt="image" class="about-main__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/shop.jpg" alt="image" class="about-main__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/article-collage.jpg" alt="image" class="about-main__slider-img" />
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
    <h2 class="title title-1 about-main__location-title">
      Сегодня наш магазин располагается на одной из главных улиц Москвы, по адресу 1-я
      Тверская-Ямская, дом 7.
    </h2>
    <div class="about-main__location-body">
      <img src="@img/about-2.jpg" alt="image" class="about-main__location-img" />
      <div class="about-main__location-info">
        <div class="about-main__location-content">
          <p>
            Наш интернет-магазин кроссовок сотрудничает с ведущими мировыми брендами. Мы предлагаем
            своим клиентам только оригинальную продукцию. В ассортименте нашего магазина
            представлены не только кроссовки, но и большой выбор мужской одежды и аксессуаров.
            Сampio в переводе с латинского означает Победитель. Так мы ощущаем себя. Каждый день,
            работая над тем, чтобы быть сильнее, чем вчера. Обслуживание клиентов стоит выше всего
            во всей нашей компании.
          </p>
          <a href="/" class="about-main__location-btn">
            <span>Перейти в каталог</span>
            <svg class="about-main__location-arrow">
              <use xlink:href='img/icons/icons.svg#icon-arrow-line'></use>
            </svg>
          </a>
        </div>
        <div data-da=".about-main__location-body, 1139" class="about-main__gallery">
          <img src="@img/article-2.jpg" alt="image" class="about-main__location-img" />
          <img src="@img/article-collage.jpg" alt="image" class="about-main__location-img" />
        </div>
      </div>
    </div>
  </div>
</section>
