<section class="buy">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>Корзина</li>
    </ul>
    <div class="buy__body">
      <div data-spollers="943,max" class="buy__basket">
        <div data-spoller class="buy__basket-top">
          <h2 class="title title-2 buy__title">КОРЗИНА</h2>
          <span class="buy__basket-summ">Сумма Заказа: 19990 ₽</span>
          <svg class="buy__basket-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div>
          <ul class="list buy__basket-list">
            <li class="buy__basket-item">
              <img src="@img/product-2.jpg" alt="image" class="buy__basket-img" />
              <div class="buy__basket-body">
                <div class="buy__basket-head">
                  <h5 class="buy__basket-title">New Balance 327</h5>
                  <span class="buy__current-price">19990 ₽</span>
                </div>
                <div class="buy__basket-content-wrapper">
                  <p class="buy__basket-content">White / White</p>
                  <span class="buy__old-price">19990 ₽</span>
                </div>
                <div class="buy__basket-footer">
                  <ul class="list buy__basket-spec">
                    <li>
                      <span>Pазмер:</span>
                      <span>38</span>
                    </li>
                    <li>
                      <span>Кол.</span>
                      <div class="parent-counter">
                        <button class="btn counter-plus">+</button>
                        <div class="counter">2</div>
                        <button class="btn counter-minus">-</button>
                      </div>
                    </li>
                  </ul>
                  <button class="btn buy__basket-del">
                    <svg class="buy__icon-del">
                      <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
            <li class="buy__basket-item">
              <img src="@img/product-2.jpg" alt="image" class="buy__basket-img" />
              <div class="buy__basket-body">
                <div class="buy__basket-head">
                  <h5 class="buy__basket-title">New Balance 327</h5>
                  <span class="buy__current-price">19990 ₽</span>
                </div>
                <div class="buy__basket-content-wrapper">
                  <p class="buy__basket-content">White / White</p>
                  <span class="buy__old-price">19990 ₽</span>
                </div>
                <div class="buy__basket-footer">
                  <ul class="list buy__basket-spec">
                    <li>
                      <span>Pазмер:</span>
                      <span>38</span>
                    </li>
                    <li>
                      <span>Кол.</span>
                      <div class="parent-counter">
                        <button class="btn counter-plus">+</button>
                        <div class="counter">2</div>
                        <button class="btn counter-minus">-</button>
                      </div>
                    </li>
                  </ul>
                  <button class="btn buy__basket-del">
                    <svg class="buy__icon-del">
                      <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
            <li class="buy__basket-item">
              <img src="@img/product-2.jpg" alt="image" class="buy__basket-img" />
              <div class="buy__basket-body">
                <div class="buy__basket-head">
                  <h5 class="buy__basket-title">New Balance 327</h5>
                  <span class="buy__current-price">19990 ₽</span>
                </div>
                <div class="buy__basket-content-wrapper">
                  <p class="buy__basket-content">White / White</p>
                  <span class="buy__old-price">19990 ₽</span>
                </div>
                <div class="buy__basket-footer">
                  <ul class="list buy__basket-spec">
                    <li>
                      <span>Pазмер:</span>
                      <span>38</span>
                    </li>
                    <li>
                      <span>Кол.</span>
                      <div class="parent-counter">
                        <button class="btn counter-plus">+</button>
                        <div class="counter">2</div>
                        <button class="btn counter-minus">-</button>
                      </div>
                    </li>
                  </ul>
                  <button class="btn buy__basket-del">
                    <svg class="buy__icon-del">
                      <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </li>
          </ul>
          <div class="buy__result">
            <ul class="list buy__result-list">
              <li>
                <span>Подытог:</span>
                <span>19990 ₽</span>
              </li>
              <li>
                <span>Подытог:</span>
                <span>19990 ₽</span>
              </li>
              <li>
                <span>Подытог:</span>
                <span>19990 ₽</span>
              </li>
              <li>
                <span>Подытог:</span>
                <span>19990 ₽</span>
              </li>
              <li>
                <span>Подытог:</span>
                <span>19990 ₽</span>
              </li>
            </ul>
          </div>
          <div class="buy__result-main">
            <span>Итог:</span>
            <span>19990 ₽</span>
          </div>
          <form action="#" class="buy__promo">
            <label for="buy-promo" class="buy__promo-label">
              <input
                type="text"
                id="buy-promo"
                placeholder="Добавить промокод"
                class="form__input"
              />
              <span class="form__error">Неверный промокод</span>
            </label>
            <button class="btn btn-main buy__promo-btn">+</button>
          </form>
        </div>
      </div>
      <div class="buy__order">
        <h1 class="title title-2 buy__title">Оформление Заказа</h1>
        <form action="#" class="buy__order-form">
          <div class="buy__order-item">
            <input
              type="text"
              name="order-city"
              value="Москва"
              class="form__input buy__order-input"
            />
          </div>
          <div class="buy__order-item">
            <h3 class="buy__order-title">Способ доставки</h3>
            <div class="buy__order-item-body">
              <input type="radio" name="order-delivary" id="Самовывоз" class="form__input-check" />
              <label for="Самовывоз" class="buy__order-check">
                <span class="buy__order-check-title">Самовывоз</span>
                <span class="buy__order-check-content">г. Москва, 1-я Тверская Ямская, дом 7.</span>
              </label>
              <input
                type="radio"
                name="order-delivary"
                id="Доставака_курьером_по_Москве"
                class="form__input-check"
              />
              <label for="Доставака_курьером_по_Москве" class="buy__order-check">
                <span class="buy__order-check-title">Доставка курьером по Москве</span>
                <span class="buy__order-check-content">Сроки доставки - 1 - 3 рабочих дня.</span>
              </label>
              <input
                type="radio"
                name="order-delivary"
                id="Доставака_Сдек"
                class="form__input-check"
              />
              <label for="Доставака_Сдек" class="buy__order-check">
                <span class="buy__order-check-title">Доставака Сдек</span>
                <span data-modal="order-map" class="btn btn-modal buy__order-check-btn">
                  Выбрать на карте
                </span>
              </label>
            </div>
          </div>
          <div class="buy__order-item">
            <h3 class="buy__order-title">Способ оплаты</h3>
            <div class="buy__order-item-body">
              <input
                type="radio"
                name="order-pay"
                id="Оплата_при_Получении"
                class="form__input-check"
              />
              <label for="Оплата_при_Получении" class="buy__order-check">
                <img src="@img/empty-wallet.svg" alt="icon" class="buy__order-check-icon" />
                <span class="buy__order-check-title">Оплата при получении</span>
              </label>
              <input type="radio" name="order-pay" id="Оплата_онлайн" class="form__input-check" />
              <label for="Оплата_онлайн" class="buy__order-check">
                <img src="@img/card.svg" alt="icon" class="buy__order-check-icon" />
                <span class="buy__order-check-title">Оплата онлайн</span>
              </label>
              <input type="radio" name="order-pay" id="Долями" class="form__input-check" />
              <label for="Долями" class="buy__order-check">
                <img src="@img/dolyame-circle.svg" alt="icon" class="buy__order-check-icon" />
                <span class="buy__order-check-title">Долями</span>
              </label>
              <input type="radio" name="order-pay" id="Яндекс_Сплит" class="form__input-check" />
              <label for="Яндекс_Сплит" class="buy__order-check">
                <img src="@img/ypay.svg" alt="icon" class="buy__order-check-icon" />
                <span class="buy__order-check-title">Яндекс Сплит</span>
              </label>
              <input type="radio" name="order-pay" id="Яндекс_Пей" class="form__input-check" />
              <label for="Яндекс_Пей" class="buy__order-check">
                <img src="@img/ypay.svg" alt="icon" class="buy__order-check-icon" />
                <span class="buy__order-check-title">Яндекс Пей</span>
              </label>
            </div>
          </div>
          <div class="buy__order-item">
            <h3 class="buy__order-title">Контактная информация</h3>
            <div class="buy__order-item-body _flex">
              <label for="contact-info-name" class="buy__contact-item">
                <input type="text" name="ФИО" id="contact-info-name" placeholder="ФИО" class="form__input" />
                <span class="form__error">Ошибка</span>
              </label>
              <label for="contact-info-tel" class="buy__contact-item _half">
                <input type="tel" id="contact-info-tel" name="Телефон" placeholder="Телефон" class="form__input" />
                <span class="form__error">Ошибка</span>
              </label>
              <label for="contact-info-mail" class="buy__contact-item _half">
                <input type="email" name="email" id="contact-info-mail" placeholder="E-mail" class="form__input" />
              </label>
            </div>
            <div class="buy__order-cities">
              <input
                type="radio"
                name="order-city"
                id="Москва,_Первая_1"
                class="form__input-check"
              />
              <label for="Москва,_Первая_1" class="buy__order-city">
                <span class="buy__city-title">Москва, Первая 1</span>
                <span class="buy__city-nav">
                  <a href="#" class="buy__city-btn">
                    <svg class="buy__city-icon">
                      <use xlink:href="img/icons/icons.svg#icon-edit"></use>
                    </svg>
                  </a>
                  <a href="#" class="buy__city-btn">
                    <svg class="buy__city-icon">
                      <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                    </svg>
                  </a>
                </span>
              </label>
              <input
                type="radio"
                name="order-city"
                id="Москва,_Вторая_1"
                class="form__input-check"
              />
              <label for="Москва,_Вторая_1" class="buy__order-city">
                <span class="buy__city-title">Москва, Вторая 1</span>
                <span class="buy__city-nav">
                  <a href="#" class="buy__city-btn">
                    <svg class="buy__city-icon">
                      <use xlink:href="img/icons/icons.svg#icon-edit"></use>
                    </svg>
                  </a>
                  <a href="#" class="buy__city-btn">
                    <svg class="buy__city-icon">
                      <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                    </svg>
                  </a>
                </span>
              </label>
            </div>
            <div class="buy__order-item-body">
              <label for="order-address" class="buy__contact-item">
                <input
                  type="text"
                  placeholder="Адрес"
                  id="order-address"
                  name="Адрес"
                  class="form__input"
                />
              </label>
              <label for="order-comment" class="buy__contact-item">
                <textarea
                  name="Комментарий"
                  placeholder="Коментарий (необязательно)"
                  id="order-comment"
                  class="form__input _textarea"
                ></textarea>
              </label>
              <input type="checkbox" name="Политика конфиденциальности" id="order-basket-policy" class="form__input-check">
              <label for="order-basket-policy" class="buy__policy">Соглашаюсь на обработку персональных данных</label>
            </div>
            <button type="submit" class="btn btn-main buy__order-btn">Оформить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
