<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <nav class="footer__nav">
        <div class="footer__nav-item">
          <div class="title footer__title">БРЕНДЫ</div>
          <ul class="list footer__list">
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="title footer__title">ПОМОЩЬ</div>
          <ul class="list footer__list">
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="title footer__title">КОНТАКТЫ</div>
          <ul class="list footer__list">
            <li><a href="tel:+74956646981">+7 (495) 664-69-81</a></li>
            <li><a href="mailto:campio@campioshop.ru">campio@campioshop.ru</a></li>
            <li>
              125047, г. Москва, ул. 1-я <br />
              Тверская-Ямская, д. 7
            </li>
            <li>Ежедневно с 11:00 - 22:00</li>
          </ul>
          <ul data-da=".footer__nav, 1024" class="list footer__social">
            <li>
              <a href="/" target="_blank" class="footer__social-btn">
                <img src="@img/tg.svg" alt="icon" class="footer__social-icon" />
              </a>
            </li>
            <li>
              <a href="/" target="_blank" class="footer__social-btn">
                <img src="@img/vk.svg" alt="icon" class="footer__social-icon" />
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__nav-item">
          <div class="title footer__title">ПОПУЛЯРНЫЕ МОДЕЛИ</div>
          <ul class="list footer__list">
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
            <li><a href="/">Adidas Originals</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <a href="/" class="footer__logo">
        <img src="@img/logo.svg" alt="logo" class="footer__logo-img" />
      </a>
      <ul class="list footer__pay">
        <li>
          <a href="/">
            <img src="@img/mir.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/visa.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/mastercard.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/dolyame.svg" alt="icon" />
          </a>
        </li>
				<li>
          <a href="/">
            <img src="@img/gone.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/split.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/russian-post.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/ems.svg" alt="icon" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="@img/cdek.svg" alt="icon" />
          </a>
        </li>
      </ul>
			<ul class="list footer__bottom-list">
				<li>© 2015–2024 CAMPIO — магазин брендовой обуви и одежды</li>
				<li><a href="/">Оферта</a></li>
				<li><a href="/">Политика конфиденциальности</a></li>
			</ul>
    </div>
  </div>
</footer>
