<header class="header">
  <div class="header__fixed">
    <div class="header__top">
      <div class="container">
        <div class="swiper header__top-slider">
          <div class="swiper-wrapper">
            <a href="/" class="swiper-slide header__top-slide">Информация</a>
            <a href="/" class="swiper-slide header__top-slide">Информация</a>
            <a href="/" class="swiper-slide header__top-slide">Информация</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__main">
      <div class="container header__container">
        <ul class="list header__navigation _mobile">
          <li>
            <button class="btn header__navigation-btn" id="burger-open">
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-burger"></use>
              </svg>
            </button>
          </li>
        </ul>
        <a href="/" class="header__logo">
          <img src="@img/logo.svg" alt="logo" class="header__logo-img" />
        </a>
        <div class="header__nav-overlay" id="burger-overlay"></div>
        <nav
          data-spollers="1024,max"
          data-one-spoller
          class="header__nav"
          id="burger"
        >
          <button class="btn header__burger-close" id="burger-close">
            <svg class="header__burger-close-icon">
              <use xlink:href="img/icons/icons.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="list header__nav-list">
            <li class="header__nav-btn-wrapper">
              <a href="/" class="header__nav-btn">Новинки</a>
            </li>
            <li class="dropdown header__nav-btn-wrapper">
              <div data-spoller class="header__nav-btn">
                <span>Мужчинам</span>
                <svg class="header__nav-arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </div>
              <div class="dropdown__item header__dropdown-item">
                <div class="container header__dropdown-container">
                  <ul class="list header__dropdown-list">
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                  </ul>
                  <div class="header__dropdown-rec">
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="dropdown header__nav-btn-wrapper">
              <div data-spoller class="header__nav-btn">
                <span>Женщинам</span>
                <svg class="header__nav-arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </div>
              <div class="dropdown__item header__dropdown-item">
                <div class="container header__dropdown-container">
                  <ul class="list header__dropdown-list">
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                  </ul>
                  <div class="header__dropdown-rec">
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="header__nav-btn-wrapper">
              <a href="/" class="header__nav-btn">Аксессуары</a>
            </li>
            <li class="dropdown header__nav-btn-wrapper">
              <div data-spoller class="header__nav-btn">
                <span>Бренды</span>
                <svg class="header__nav-arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
                </svg>
              </div>
              <div class="dropdown__item header__dropdown-item">
                <div class="container header__dropdown-container">
                  <ul class="list header__dropdown-list">
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                    <li><a href="/">Adidas Performance</a></li>
                  </ul>
                  <div class="header__dropdown-rec">
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                    <a href="/" class="product-rec">
                      <img
                        src="@img/brand-nike.jpg"
                        alt="image"
                        class="product-rec__img"
                      />
                      <div class="product-rec__info">
                        <img
                          src="@img/nike.svg"
                          alt="icon"
                          class="product-rec__logo"
                        />
                        <div class="title product-rec__title">NIKE</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="header__nav-btn-wrapper">
              <a href="/" class="header__nav-btn">Скидки</a>
            </li>
          </ul>
          <div class="header__nav-footer">
            <a href="tel:+74956646981" class="header__nav-tel"
              >+7 (495) 664-69-81</a
            >
            <p class="header__nav-address">
              125047, г. Москва, ул. 1-я Тверская-Ямская, д. 7
            </p>
          </div>
        </nav>
        <ul class="list header__navigation">
          <li data-da=".header__navigation._mobile, 1024">
            <button class="btn header__navigation-btn" id="search-open">
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-search"></use>
              </svg>
            </button>
          </li>
          <li class="location">
            <a href="/" class="header__navigation-btn">
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-location"></use>
              </svg>
            </a>
          </li>
          <li>
            <button class="btn header__navigation-btn" id="basket-btn">
              <span class="header__navigation-number">12</span>
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-cart"></use>
              </svg>
            </button>
          </li>
          <li data-spollers class="dropdown-select">
            <!-- <button data-modal="auth" class="btn btn-modal header__navigation-btn">
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-user"></use>
              </svg>
            </button> -->
            <button
              data-spoller
              data-spoller-close
              class="btn dropdown-select__btn header__navigation-btn"
            >
              <svg class="header__navigation-icon">
                <use xlink:href="img/icons/icons.svg#icon-user"></use>
              </svg>
            </button>
            <div class="header__profile-menu dropdown-select__item">
              <a href="#" class="header__profile-btn">Смирнов Александр</a>
              <a href="#" class="header__profile-btn">Адреса</a>
              <a href="#" class="header__profile-btn">Сменить Пароль</a>
              <a href="#" class="header__profile-btn">Заказы</a>
              <a href="#" class="header__profile-btn">Дисконтная Система</a>
              <a href="#" class="header__profile-btn">Избранные</a>
              <a href="#" class="header__profile-btn">Выйти</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="swiper header__bottom-slider">
        <div class="swiper-wrapper">
          <a href="/" class="swiper-slide header__bottom-slide">Информация</a>
          <a href="/" class="swiper-slide header__bottom-slide">Информация</a>
          <a href="/" class="swiper-slide header__bottom-slide">Информация</a>
        </div>
      </div>
    </div>
  </div>

  <div class="search" id="search-menu">
    <div class="container">
      <form action="#" class="search__form">
        <label for="search-main" class="search__form-label">
          <svg class="search__icon">
            <use xlink:href="img/icons/icons.svg#icon-search"></use>
          </svg>
          <input type="search" id="search-main" class="search__input" />
        </label>
        <button class="btn search__clear" id="search-clear">
          <svg class="search__clear-icon">
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
      </form>
      <div class="search__body">
        <div class="search__products">
          <div class="search__title">Товары</div>
          <ul class="list search__products-list">
            <li>
              <a href="/" class="search__product-card">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="search__product-img"
                />
                <div>
                  <div class="search__product-title">NEW BALANCE</div>
                  <span class="search__product-model">New Balance 327</span>
                  <span class="search__product-price">19990 руб.</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/" class="search__product-card">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="search__product-img"
                />
                <div>
                  <div class="search__product-title">NEW BALANCE</div>
                  <span class="search__product-model">New Balance 327</span>
                  <span class="search__product-price">19990 руб.</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/" class="search__product-card">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="search__product-img"
                />
                <div>
                  <div class="search__product-title">NEW BALANCE</div>
                  <span class="search__product-model">New Balance 327</span>
                  <span class="search__product-price">19990 руб.</span>
                </div>
              </a>
            </li>
            <li>
              <a href="/" class="search__product-card">
                <img
                  src="@img/product.jpg"
                  alt="image"
                  class="search__product-img"
                />
                <div>
                  <div class="search__product-title">NEW BALANCE</div>
                  <span class="search__product-model">New Balance 327</span>
                  <span class="search__product-price">19990 руб.</span>
                </div>
              </a>
            </li>
          </ul>
          <a href="#" class="search__products-btn">Все результаты</a>
        </div>
        <div class="search__brands">
          <div class="search__title">Бренды</div>
          <div class="search__brands-wrapper">
            <a href="/" class="product-rec">
              <img
                src="@img/brand-nike.jpg"
                alt="image"
                class="product-rec__img"
              />
              <div class="product-rec__info">
                <img src="@img/nike.svg" alt="icon" class="product-rec__logo" />
                <div class="title product-rec__title">NIKE</div>
              </div>
            </a>
            <a href="/" class="product-rec">
              <img
                src="@img/brand-nike.jpg"
                alt="image"
                class="product-rec__img"
              />
              <div class="product-rec__info">
                <img src="@img/nike.svg" alt="icon" class="product-rec__logo" />
                <div class="title product-rec__title">NIKE</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="search__articles">
        <div class="search__title">Статьи</div>
        <ul class="list search__articles-list">
          <li><a href="/">ТРЕНДОВЫЕ КРОССОВКИ NIKE</a></li>
          <li><a href="/">ТРЕНДОВЫЕ КРОССОВКИ NIKE</a></li>
          <li><a href="/">ТРЕНДОВЫЕ КРОССОВКИ NIKE</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="basket" id="basket">
    <div class="basket__wrapper basket__rec">
      <div class="basket__rec-head">
        <div class="basket__title">Рекомендуем</div>
        <button class="btn basket__rec-close">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="basket__rec-container">
        <article class="basket__product">
          <img src="@img/product.jpg" alt="image" class="basket__product-img" />
          <button class="btn btn-like basket__product-like">
            <svg class="basket__icon-like">
              <use xlink:href="img/icons/icons.svg#icon-heart"></use>
            </svg>
          </button>

          <a href="#" class="product__link"></a>

          <span class="basket__product-brand">BRAND</span>
          <div class="basket__product-title">Product Name</div>
          <span class="basket__product-price">12990 ₽</span>
        </article>
        <article class="basket__product">
          <img src="@img/product.jpg" alt="image" class="basket__product-img" />
          <button class="btn btn-like basket__product-like">
            <svg class="basket__icon-like">
              <use xlink:href="img/icons/icons.svg#icon-heart"></use>
            </svg>
          </button>
          <a href="#" class="product__link"></a>

          <span class="basket__product-brand">BRAND</span>
          <div class="basket__product-title">Product Name</div>
          <span class="basket__product-price">12990 ₽</span>
        </article>
        <article class="basket__product">
          <img src="@img/product.jpg" alt="image" class="basket__product-img" />
          <button class="btn btn-like basket__product-like">
            <svg class="basket__icon-like">
              <use xlink:href="img/icons/icons.svg#icon-heart"></use>
            </svg>
          </button>
          <a href="#" class="product__link"></a>

          <span class="basket__product-brand">BRAND</span>
          <div class="basket__product-title">Product Name</div>
          <span class="basket__product-price">12990 ₽</span>
        </article>
      </div>
    </div>
    <div class="basket__wrapper basket__main">
      <div class="basket__main-head">
        <div class="basket__title">Корзина</div>
        <button class="btn basket__close" id="basket-close">
          <svg class="basket__icon-close">
            <use xlink:href="img/icons/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="basket__main-products">
        <div class="basket__item">
          <img src="@img/product.jpg" alt="image" class="basket__item-img" />
          <div class="basket__item-body">
            <a href="/" class="basket__item-head">
              <div class="basket__item-info">
                <div class="basket__item-title">New Balance 327</div>
                <span class="basket__item-color">white / white</span>
              </div>
              <div class="basket__item-price">
                <span class="basket__item-price-current">19990 ₽</span>
                <span class="basket__item-price-old">19990 ₽</span>
              </div>
            </a>
            <div class="basket__item-menu">
              <ul class="list basket__item-list">
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Размер:</span>
                  <span class="basket__item-menu-number">38</span>
                </li>
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Кол.:</span>
                  <div class="basket__item-menu-counter parent-counter">
                    <button class="btn basket__counter-btn counter-plus">
                      +
                    </button>
                    <span class="basket__item-menu-number counter">2</span>
                    <button class="btn basket__counter-btn counter-minus">
                      -
                    </button>
                  </div>
                </li>
              </ul>
              <button class="btn basket__del">
                <svg class="basket__del-icon">
                  <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="basket__item">
          <img src="@img/product.jpg" alt="image" class="basket__item-img" />
          <div class="basket__item-body">
            <a href="/" class="basket__item-head">
              <div class="basket__item-info">
                <div class="basket__item-title">New Balance 327</div>
                <span class="basket__item-color">white / white</span>
              </div>
              <div class="basket__item-price">
                <span class="basket__item-price-current">19990 ₽</span>
                <span class="basket__item-price-old">19990 ₽</span>
              </div>
            </a>
            <div class="basket__item-menu">
              <ul class="list basket__item-list">
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Размер:</span>
                  <span class="basket__item-menu-number">38</span>
                </li>
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Кол.:</span>
                  <div class="basket__item-menu-counter parent-counter">
                    <button class="btn basket__counter-btn counter-plus">
                      +
                    </button>
                    <span class="basket__item-menu-number counter">2</span>
                    <button class="btn basket__counter-btn counter-minus">
                      -
                    </button>
                  </div>
                </li>
              </ul>
              <button class="btn basket__del">
                <svg class="basket__del-icon">
                  <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="basket__item">
          <img src="@img/product.jpg" alt="image" class="basket__item-img" />
          <div class="basket__item-body">
            <a href="/" class="basket__item-head">
              <div class="basket__item-info">
                <div class="basket__item-title">New Balance 327</div>
                <span class="basket__item-color">white / white</span>
              </div>
              <div class="basket__item-price">
                <span class="basket__item-price-current">19990 ₽</span>
                <span class="basket__item-price-old">19990 ₽</span>
              </div>
            </a>
            <div class="basket__item-menu">
              <ul class="list basket__item-list">
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Размер:</span>
                  <span class="basket__item-menu-number">38</span>
                </li>
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Кол.:</span>
                  <div class="basket__item-menu-counter parent-counter">
                    <button class="btn basket__counter-btn counter-plus">
                      +
                    </button>
                    <span class="basket__item-menu-number counter">2</span>
                    <button class="btn basket__counter-btn counter-minus">
                      -
                    </button>
                  </div>
                </li>
              </ul>
              <button class="btn basket__del">
                <svg class="basket__del-icon">
                  <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="basket__item">
          <img src="@img/product.jpg" alt="image" class="basket__item-img" />
          <div class="basket__item-body">
            <a href="/" class="basket__item-head">
              <div class="basket__item-info">
                <div class="basket__item-title">New Balance 327</div>
                <span class="basket__item-color">white / white</span>
              </div>
              <div class="basket__item-price">
                <span class="basket__item-price-current">19990 ₽</span>
                <span class="basket__item-price-old">19990 ₽</span>
              </div>
            </a>
            <div class="basket__item-menu">
              <ul class="list basket__item-list">
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Размер:</span>
                  <span class="basket__item-menu-number">38</span>
                </li>
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Кол.:</span>
                  <div class="basket__item-menu-counter parent-counter">
                    <button class="btn basket__counter-btn counter-plus">
                      +
                    </button>
                    <span class="basket__item-menu-number counter">2</span>
                    <button class="btn basket__counter-btn counter-minus">
                      -
                    </button>
                  </div>
                </li>
              </ul>
              <button class="btn basket__del">
                <svg class="basket__del-icon">
                  <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="basket__item">
          <img src="@img/product.jpg" alt="image" class="basket__item-img" />
          <div class="basket__item-body">
            <a href="/" class="basket__item-head">
              <div class="basket__item-info">
                <div class="basket__item-title">New Balance 327</div>
                <span class="basket__item-color">white / white</span>
              </div>
              <div class="basket__item-price">
                <span class="basket__item-price-current">19990 ₽</span>
                <span class="basket__item-price-old">19990 ₽</span>
              </div>
            </a>
            <div class="basket__item-menu">
              <ul class="list basket__item-list">
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Размер:</span>
                  <span class="basket__item-menu-number">38</span>
                </li>
                <li class="basket__list-item">
                  <span class="basket__item-menu-title">Кол.:</span>
                  <div class="basket__item-menu-counter parent-counter">
                    <button class="btn basket__counter-btn counter-plus">
                      +
                    </button>
                    <span class="basket__item-menu-number counter">2</span>
                    <button class="btn basket__counter-btn counter-minus">
                      -
                    </button>
                  </div>
                </li>
              </ul>
              <button class="btn basket__del">
                <svg class="basket__del-icon">
                  <use xlink:href="img/icons/icons.svg#icon-trash"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="basket__form">
        <div class="basket__title">Промокод:</div>
        <div class="basket__promo">
          <input type="text" class="basket__promo-input" />
          <button type="button" class="btn basket__promo-btn">+</button>
          <div class="basket__promo-error">Неверный промокод</div>
        </div>
        <div class="basket__discount">
          <div class="basket__title">Скидка:</div>
          <span class="basket__price">19990 ₽</span>
        </div>
        <div class="basket__result">
          <div class="basket__title">Итог:</div>
          <span class="basket__price">19990 ₽</span>
        </div>
        <div class="basket__buttons">
          <a href="/" class="btn btn-main">Оформить</a>
          <button data-modal="order" class="btn btn-modal btn-main _stroke">
            Купить сейчас
          </button>
        </div>
      </form>
    </div>
  </div>
</header>
