<section class="order-info">
  <div class="container order-info__container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/">
          Личный Кабинет
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/">
          Заказы
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>Заказ№123</li>
    </ul>
    <a href="#" class="prev-btn">
      <svg class="prev-btn__arrow">
        <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
      </svg>
      Назад
    </a>
    <div class="order-info__wrapper">
      <div class="order-info__item">
        <h2 class="order-info__item-title">Товары</h2>
        <div class="order-info__product">
          <img src="@img/product-2.jpg" alt="image" class="order-info__product-img" />
          <div class="order-info__product-body">
            <div class="order-info__product-head">
              <h5 class="order-info__product-title">New Balance 327</h5>
              <span class="order-info__product-price"> 19990 ₽ </span>
            </div>
            <p class="order-info__product-content">White / White</p>
            <ul class="list order-info__product-list">
              <li>
                <span>Pазмер:</span>
                <span>38</span>
              </li>
              <li>
                <span>Кол.</span>
                <span>2</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="order-info__item">
        <h1 class="order-info__item-title">Заказ</h1>
        <ul class="list order-info__spec">
          <li>
            <span class="order-info__content-title">Номер Заказа</span>
            <span class="order-info__content-value">№122</span>
          </li>
          <li>
            <span class="order-info__content-title">Сумма заказа</span>
            <span class="order-info__content-value">12990 ₽</span>
          </li>
          <li>
            <span class="order-info__content-title">Дата Оформления</span>
            <span class="order-info__content-value">16.02.2024</span>
          </li>
          <li>
            <span class="order-info__content-title">Статус</span>
            <span class="order-info__content-value">Принят</span>
          </li>
        </ul>
        <div class="order-info__pay">
          <h5 class="order-info__subtitle">Оплата</h5>
          <div class="order-info__pay-info">
            <span class="order-info__content-title">Способ Оплаты</span>
            <span class="order-info__content-value"
              >Счет №31808/1 от 16.02.2024, Не оплачено, Оплата при получении</span
            >
            <button class="btn btn-main order-info__pay-btn">Оплатить</button>
          </div>
        </div>
        <div class="order-info__delivery">
          <h5 class="order-info__subtitle">Доставка</h5>
          <ul class="list order-info__delivery-list">
            <li>
              <span class="order-info__content-title">Адрес Доставки</span>
              <span class="order-info__content-value">Россия, Центр, Москва</span>
            </li>
            <li>
              <span class="order-info__content-title">Способ Доставки</span>
              <span class="order-info__content-value">Самавывоз</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
