<section class="rec">
  <div class="container">
    <div class="title title-2 rec__title">@@title</div>
    <div class="rec__slider-wrapper">
      <button class="btn slider-arrow rec__slider-btn _prev">
        <svg class="slider-arrow__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="btn slider-arrow rec__slider-btn _next">
        <svg class="slider-arrow__icon">
          <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="swiper rec__slider">
        <div class="swiper-wrapper">
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <a href="#" class="product__link"></a>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"><span class="product__payment-caption"><span class="product__payment-caption">Частями</span></span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <a href="#" class="product__link"></a>

            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"><span class="product__payment-caption">Частями</span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <a href="#" class="product__link"></a>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"><span class="product__payment-caption">Частями</span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <a href="#" class="product__link"></a>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"><span class="product__payment-caption">Частями</span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <a href="#" class="product__link"></a>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"><span class="product__payment-caption">Частями</span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>  
          <article class="swiper-slide product">
            <span class="product__signature">SALE</span>
            <button class="btn btn-like product__like">
              <svg class="product__like-icon">
                <use xlink:href="img/icons/icons.svg#icon-heart"></use>
              </svg>
            </button>
            <a href="#" class="product__link"></a>
            <img src="@img/product.jpg" alt="image" class="product__img" />
            <span class="product__brand">Brand</span>
            <div class="product__title">Product Name</div>
            <span class="product__price">12990 ₽</span>
            <div  class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content"> <span class="product__payment-caption">Частями</span> по 1122 ₽ <span class="product__payment-multiplier">х4</span></p>
            </div>
            <div class="product__sizes">
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
              <button data-product-size class="btn product__size">38.5 EU</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>