<section class="rec">
  <div class="container">
    <h2 class="title title-2 rec__title">НОВИНКИ</h2>
    <div class="swiper rec__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
        <article class="swiper-slide product">
          <img src="@img/product.jpg" alt="image" class="product__img" />
          <a href="/">
            <span class="product__brand">Brand</span>
            <h5 class="product__title">Product Name</h5>
            <span class="product__price">12990 ₽</span>
            <div class="product__payment">
              <img src="@img/payments.svg" alt="" class="product__payment-icon" />
              <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
            </div>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
