<section class="refund">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>Возврат</li>
    </ul>
    <h1 class="title title-1 refund__title">Возврат</h1>
    <div class="refund__body">
      <div class="refund__content">
        <h5>Москва</h5>
        <ul>
          <li>
            Если Вам не подошёл товар, то верните его нашему курьеру, оплатив только курьерскую
            доставку по Москве - 350 рублей.
          </li>
          <li>
            Если Вы получили и оплатили товар, но решили от него отказаться или обменять, то
            возврат/обмен необходимо осуществить <strong>в течение 14 календарных дней</strong> при
            условии сохранения товарного вида (упаковка, бирки, ярлыки, без следов использования).
          </li>
        </ul>
        <h5>Регионы:</h5>
        <ul>
          <li>
            Если Вы получили заказ и товары не подошли по размеру, Вы можете вернуть товар в течении
            14 календарных дней при условии сохранения товарного вида (упаковка, бирки, ярлыки, без
            следов использования), отправив его нам простой посылкой или почтой EMS без наложенного
            платежа по адресу: <strong>125047, г. Москва, ул. 1-я Тверская-Ямская дом 7.</strong>
          </li>
        </ul>
        <p><span>Получатель:</span> <strong>ООО "ОганСпорт".</strong></p>
        <h5>Важно!</h5>
        <p>
          После получения возврата/обмена, наш менеджер свяжется с вами по указанному телефону и мы
          вернём деньги за товар без учёта стоимости отправки.
        </p>
        <p>
          После отправки заказа, просьба прислать Ваш трек номер с номером заказа, для ускорения
          процесса возврата, нам на e-mail: <a href="mailto:campio@campioshop.ru"
            ><strong>campio@campioshop.ru</strong></a
          >
        </p>
        <p>
          Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих
          дней (срок зависит от банка, который выдал вашу банковскую карту).
        </p>
        <p>
          Если у Вас есть дополнительные вопросы, пишите нам на e-mail: <a
            href="mailto:campio@campioshop.ru"
            ><strong>campio@campioshop.ru</strong></a
          > или звоните по тел. <a href="tel:+74956646981"><strong>+7(495) 664-69-81</strong></a>
        </p>
      </div>
      <img src="@img/about.jpg" alt="image" class="refund__img" />
    </div>
  </div>
</section>
