<section class="restore-password">
  <div class="container restore-password__container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/">
          Личний Кабинет
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>Востоновление Пароля</li>
    </ul>
    <div class="restore-password__body">
      <a href="#" class="prev-btn">
        <svg class="prev-btn__arrow">
          <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
        </svg>
        Назад
      </a>
      <h1 class="title title-3 restore-password__title">Восстановление пароля</h1>
      <form action="#" class="restore-password__form">
        <div class="restore-password__form-item">
          <label for="restore-email" class="form__label">E-Mail</label>
          <input type="email" id="restore-email" class="form__input" />
          <span class="form__error">Аккаунт не найден</span>
        </div>
        <p class="restore-password__content">
          Введите электронную почту и мы вышлем вам новые данные для входа в личный кабинет.
        </p>
        <button type="submit" class="btn btn-main restore-password__form-btn">Выслать</button>
      </form>
    </div>
  </div>
</section>
