<section class="single-article">
  <div class="container">
    <ul class="list breadcrumbs">
      <li>
        <a href="/">
          Главная
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/">
          Блог
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
      <li>История Кроссовок Nike Dunk</li>
    </ul>
    <h1 class="title title-1 single-article__title">История Кроссовок Nike Dunk</h1>
    <article class="single-article__head">
      <img src="@img/article-2.jpg" alt="image" class="single-article__head-img" />
      <p class="single-article__head-content">
        Nike Dunk High были выпущены в 1985 года как высокие баскетбольные кроссовки, созданные на
        основе четырех более ранних моделей Nike — Air Force 1, Terminator, Air Jordan 1 и Legend.
      </p>
      <img src="@img/blog.jpg" alt="image" class="single-article__head-img" />
      <img src="@img/blog.jpg" alt="image" class="single-article__head-img" />
    </article>
    <div class="swiper single-article__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="@img/article-collage.jpg" alt="image" class="single-article__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/article-collage.jpg" alt="image" class="single-article__slider-img" />
        </div>
        <div class="swiper-slide">
          <img src="@img/article-collage.jpg" alt="image" class="single-article__slider-img" />
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
    <div class="single-article__body">
      <div class="single-article__content">
        <p>
          Nike Dunk на сегодняшний день являются одними из самых популярных кроссовок на рынке.
          Универсальность и простота Dunk сделали их незаменимыми для тех, кто ищет стильные
          повседневные кроссовки.
        </p>
        <div>Баскетбольная предыстория</div>
        <p>
          История Nike Dunk началась на баскетбольных площадках колледжей. В то время баскетбол
          приобретал огромную популярность благодаря появлению таких звезд, как Майкл Джордан. В
          1980-х годах, когда студенческий баскетбол набирал обороты, а игра нашла свое место на
          телевидении, Nike, не мешкая, запускает коллекцию, специально предназначенную для
          студенческих команд, под название «Be True To Your School» (Будь верен своей школе). В
          коллекцию вошли одежда, сумки и, как вы уже догадались, кроссовки, в частности - Nike
          Dunk. Ведущие колледжи США, включая Аризону, Айову, Джорджию, Сиракузы, Джорджтаун и
          Кентукки и их болельщики, получили возможность надеть кроссовки в цветах своей любимой
          команды.
        </p>
        <img src="@img/article-collage.jpg" alt="image" />
        <div>Баскетбольная предыстория</div>
        <p>
          История Nike Dunk началась на баскетбольных площадках колледжей. В то время баскетбол
          приобретал огромную популярность благодаря появлению таких звезд, как Майкл Джордан. В
          1980-х годах, когда студенческий баскетбол набирал обороты, а игра нашла свое место на
          телевидении, Nike, не мешкая, запускает коллекцию, специально предназначенную для
          студенческих команд, под название «Be True To Your School» (Будь верен своей школе). В
          коллекцию вошли одежда, сумки и, как вы уже догадались, кроссовки, в частности - Nike
          Dunk. Ведущие колледжи США, включая Аризону, Айову, Джорджию, Сиракузы, Джорджтаун и
          Кентукки и их болельщики, получили возможность надеть кроссовки в цветах своей любимой
          команды.
        </p>
        <img src="@img/article-collage.jpg" alt="image" />
        <p>
          История Nike Dunk началась на баскетбольных площадках колледжей. В то время баскетбол
          приобретал огромную популярность благодаря появлению таких звезд, как Майкл Джордан. В
          1980-х годах, когда студенческий баскетбол набирал обороты, а игра нашла свое место на
          телевидении, Nike, не мешкая, запускает коллекцию, специально предназначенную для
          студенческих команд, под название «Be True To Your School» (Будь верен своей школе). В
          коллекцию вошли одежда, сумки и, как вы уже догадались, кроссовки, в частности - Nike
          Dunk. Ведущие колледжи США, включая Аризону, Айову, Джорджию, Сиракузы, Джорджтаун и
          Кентукки и их болельщики, получили возможность надеть кроссовки в цветах своей любимой
          команды.
        </p>
        <img src="@img/article-collage.jpg" alt="image" />
        <p>
          История Nike Dunk началась на баскетбольных площадках колледжей. В то время баскетбол
          приобретал огромную популярность благодаря появлению таких звезд, как Майкл Джордан. В
          1980-х годах, когда студенческий баскетбол набирал обороты, а игра нашла свое место на
          телевидении, Nike, не мешкая, запускает коллекцию, специально предназначенную для
          студенческих команд, под название «Be True To Your School» (Будь верен своей школе). В
          коллекцию вошли одежда, сумки и, как вы уже догадались, кроссовки, в частности - Nike
          Dunk. Ведущие колледжи США, включая Аризону, Айову, Джорджию, Сиракузы, Джорджтаун и
          Кентукки и их болельщики, получили возможность надеть кроссовки в цветах своей любимой
          команды.
        </p>
        <img src="@img/article-collage.jpg" alt="image" />
      </div>
      <div class="single-article__rec">
        <div class="single-article__rec-head">
          <div class="single-article__rect-title">Товары</div>
          <a href="/" class="single-article__rec-btn">
            <span>Перейти в каталог</span>
            <svg class="single-article__rec-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
        </div>
        <div class="single-article__rec-slider-wrapper">
          <button class="btn slider-arrow single-article__slider-btn _prev">
            <svg class="slider-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <button class="btn slider-arrow single-article__slider-btn _next">
            <svg class="slider-arrow__icon">
              <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
          </button>
          <div class="swiper single-article__rec-slider">
            <div class="swiper-wrapper">
              <article class="swiper-slide product">
                <button class="btn btn-like product__like">
                  <svg class="product__like-icon">
                    <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                  </svg>
                </button>
                <img src="@img/product.jpg" alt="image" class="product__img" />
                <a href="/">
                  <span class="product__brand">Brand</span>
                  <div class="product__title">Product Name</div>
                  <span class="product__price">12990 ₽</span>
                  <div data-modal="product-pay" class="btn-modal product__payment">
                    <img src="@img/payments.svg" alt="" class="product__payment-icon" />
                    <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
                  </div>
                </a>
              </article>
              <article class="swiper-slide product">
                <button class="btn btn-like product__like">
                  <svg class="product__like-icon">
                    <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                  </svg>
                </button>
                <img src="@img/product.jpg" alt="image" class="product__img" />
                <a href="/">
                  <span class="product__brand">Brand</span>
                  <div class="product__title">Product Name</div>
                  <span class="product__price">12990 ₽</span>
                  <div data-modal="product-pay" class="btn-modal product__payment">
                    <img src="@img/payments.svg" alt="" class="product__payment-icon" />
                    <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
                  </div>
                </a>
              </article>
              <article class="swiper-slide product">
                <button class="btn btn-like product__like">
                  <svg class="product__like-icon">
                    <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                  </svg>
                </button>
                <img src="@img/product.jpg" alt="image" class="product__img" />
                <a href="/">
                  <span class="product__brand">Brand</span>
                  <div class="product__title">Product Name</div>
                  <span class="product__price">12990 ₽</span>
                  <div data-modal="product-pay" class="btn-modal product__payment">
                    <img src="@img/payments.svg" alt="" class="product__payment-icon" />
                    <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
                  </div>
                </a>
              </article>
              <article class="swiper-slide product">
                <button class="btn btn-like product__like">
                  <svg class="product__like-icon">
                    <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                  </svg>
                </button>
                <img src="@img/product.jpg" alt="image" class="product__img" />
                <a href="/">
                  <span class="product__brand">Brand</span>
                  <div class="product__title">Product Name</div>
                  <span class="product__price">12990 ₽</span>
                  <div data-modal="product-pay" class="btn-modal product__payment">
                    <img src="@img/payments.svg" alt="" class="product__payment-icon" />
                    <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
                  </div>
                </a>
              </article>
              <article class="swiper-slide product">
                <button class="btn btn-like product__like">
                  <svg class="product__like-icon">
                    <use xlink:href="img/icons/icons.svg#icon-heart"></use>
                  </svg>
                </button>
                <img src="@img/product.jpg" alt="image" class="product__img" />
                <a href="/">
                  <span class="product__brand">Brand</span>
                  <div class="product__title">Product Name</div>
                  <span class="product__price">12990 ₽</span>
                  <div data-modal="product-pay" class="btn-modal product__payment">
                    <img src="@img/payments.svg" alt="" class="product__payment-icon" />
                    <p class="product__payment-content">Частями по 1122 ₽ <span>х4</span></p>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-article__nav">
      <a href="/" class="btn-main single-article__nav-btn _stroke">Предыдущая статья</a>
      <a href="/" class="btn-main single-article__nav-btn">Следующая статья</a>
    </div>
  </div>
</section>
