.article {
  grid-column: 4 span;
  &__img {
    display: block;
    width: 100%;
    // height: 385px;
    aspect-ratio: 1 /1;
    object-fit: cover;
    margin-bottom: 15px;
    transition: filter 0.2s ease;
    @include hover {
      filter: brightness(70%);
    }
  }
  &__time {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: var(--gray);
    margin-bottom: 8px;
  }
  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    transition: color 0.2s ease;

    &:hover {
      color: var(--gray);
    }
  }
}
