.cookie {
  position: fixed;
  max-width: 300px;
  width: 100%;
  right: 20px;
  bottom: 20px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px -6px 80px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 24px;
  }
  &__icon {
    width: 48px;
    flex-shrink: 0;
    @include mobile {
      width: 35px;
    }
  }
  &__title {
    margin: 0;
    font-size: 14px;

  }
  &__content {
    font-size: 10px;
    margin: 0px 0px 15px 0px;
    a {
      font-weight: 600;
      margin: 0px 0px 55px 0px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--gray);
      }
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    .btn {
      font-size: 13px;
      font-weight: 600;
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
